@CHARSET "UTF-8";
nav{
		width:90%;
		padding:5px;
}

@media screen and (min-width: 320px)and (max-width: 480px){
	i{
		font-size: 400%;
	}	
	body{
		background-image: url("../images/raindrop.jpg");
		opacity: 0.90;
  		filter: alpha(opacity=90);
	}
	
	#city{
		width:200px;
		padding:7px;
		border:2px solid #429bf4;
		display:inline-block;
	}
	#request{
		margin-left:-5px;
		padding: 8px;
		background:#429bf4;
		border:1px solid #429bf4;
		color:white;
		
	}
	#messager {
		font-family: 'Pangolin', cursive;
		font-size: 24px;
		font-style: normal;
		font-variant: normal;
		font-weight: 500;
		line-height: 26.4px;
	}
	#toolbar{
		background-color: white;
		opacity: 0.75;
  		filter: alpha(opacity=75);
		
		margin-left: auto;
		margin-right: auto;
	}
	#toolbar h2 {
	  margin: 5%;
	  font-weight: bold;
	  color: #000000;
	}
	.currentWeather{
		width:100%;
		margin:5px;		
		padding:5px;
		height:80px;
		background-color:white;
		
		opacity: 0.85;
  		filter: alpha(opacity=85);
	}
	#temperature{
		display:inline;
	}
	.form-group{
		display:inline;
		margin:0;
	}
	.text{
		margin:0;
		border:0;
	}
	
	.forecasting{
		width:100%;
	}
	.content{
		display:inline-block;
		padding:5px;
		margin:1px;
		background-color:white;
		opacity: 0.80;
  		filter: alpha(opacity=80);
	}
	#fpanel{
		display:block;
		width:100%;
	}
	#leftArea{
		float:left;
		margin-left:5px;
	}
	#rightArea{
		float:right;
		margin-right:5px;
	}
	

}

@media screen and (min-width: 480px) and (max-width: 768px){
	body{
		background-image: url('../images/raining.jpg');
		background-repeat:repeat-y;
	}
	i{
		font-size: 400%;
	}	
	#city{
		width:200px;
		padding:7px;
		border:2px solid #429bf4;
		margin:0;
	}
	#request{
		margin:0;
		margin-left:-5px;
		padding: 8px;
		background:#429bf4;
		border:1px solid #429bf4;
		
	}
	#searchbar{
		margin-left:5%;
	}
	#messager {
		font-family: 'Pangolin', cursive;
		font-size: 24px;
		font-style: normal;
		font-variant: normal;
		font-weight: 500;
		line-height: 26.4px;
		marign:0;
		padding:0;
	}
	#toolbar{
		opacity: 0.80;
  		filter: alpha(opacity=80);
		
		display:inline-block;
		margin-left: 25%;
		margin-right: auto;
	}
	#toolbar h2 {
	  margin: 5%;
	  font-weight: bold;
	  color: #000000;
	}
	.text{
		margin:0;
		border:0;
	}
	.content{
		display:inline-block;
		padding:5px;
		margin:1px;
	}
	.form-group{
		display:inline;
		margin:0;
	}
	
	
	#temperature{
		display:inline;
	}
	
	#fpanel{
		width:15%;
	}
	.currentWeather{
		width:100%;
		margin:5px;		
		padding:5px;
		height:80px;
		
		opacity: 0.80;
  		filter: alpha(opacity=80);
	}
	#currentIcon{
		font-size: 450%;
		display:inline-block;
	}

	#fpanel{
		display:block;
		width:100%;
		
		opacity: 0.80;
  		filter: alpha(opacity=80);
	}
	#leftArea{
		float:left;
		margin-left:5px;
	}
	#rightArea{
		float:right;
		margin-right:5px;
		font-size:120%;
	}
	
}

@media screen and (min-width : 768px) and (max-width : 1024px){
	body{
		background-color:blue;
		background-image:url('../images/rainbow.jpg')
	}
	#city{
		width:200px;
		padding:7px;
		border:2px solid #429bf4;
	}
	#request{
		margin-left:-5px;
		padding: 8px;
		background:#429bf4;
		border:1px solid #429bf4;
		color:white;
		
	}
	#messager {
		font-family: 'Pangolin', cursive;
		font-size: 30px;
		font-style: normal;
		font-variant: normal;
		font-weight: 500;
		line-height: 26.4px;
		display:inline-block;
		color:#425ff4;
	}
	#searchbar{
		display:inline-block;
	}
	#toolbar{	
		padding:5px;
		width:100%;
		
		background-color:white;
		opacity: 0.80;
  		filter: alpha(opacity=80);
	}
	#temperature{
		display:inline;
	}
	.form-group{
		display:inline;
		margin:0;
	}
	
	.text{
		margin:0;
		border:0;
	}
	
	.currentWeather{
		color: white;
		opacity: 0.85;
  		filter: alpha(opacity=85);
		
		height: 150px;
		margin:15px;
		margin-left: 30%;

		display:inline-block;
		
	}
	#forecasting{
		margin-left:8%;
		margin-top: 30xp;
	}
	.content{
		display:inline-block;
		padding:5px;
		margin:1px;
	}
	#fpanel{
		width:16%;
		height:300px;
		margin-top:0px;
		border-radius: 20px;
		
		background-color: white;
		color:black;
		opacity: 0.60;
  		filter: alpha(opacity=60);
	}
	#icon1,#icon2,#icon3,#icon4,#icon5{
		font-size:600%;
		display: block;
		margin-left:auto;
		margin-right:auto;
		margin-top:10px;
	} 
	
	#prediction{
		margin-top: 15px;
		font-family: times;
		
	}
	#leftArea{
		float:left;
		margin-left:5px;
		display:inline-block;
	}
	#rightArea{
		margin-right:5px;
		font-size:150%;
		display:inline-block;
	}
	#currentIcon{
		display:inline-block;
		left-margin:auto;
		right-margin:auto;
		font-size:800%;
	}
}

@media screen and (min-width:1024px){
	body{
		background-image:url("../images/bigscreen.jpg")
		
	}

	#city{
		width:200px;
		padding:7px;
		border:2px solid #429bf4;
	}
	#request{
		margin-left:-5px;
		padding: 8px;
		background:#429bf4;
		border:1px solid #429bf4;
		color:white;
		
	}
	#messager {
		font-family: 'Pangolin', cursive;
		font-size: 30px;
		font-style: normal;
		font-variant: normal;
		font-weight: 500;
		line-height: 26.4px;
		display:inline-block;
		color:#425ff4;
	}
	#searchbar{
		display:inline-block;
	}
	#toolbar{	
		padding:5px;
		width:100%;
		
		background-color:white;
		opacity: 0.80;
  		filter: alpha(opacity=80);
	}
	#temperature{
		display:inline;
	}
	.form-group{
		display:inline;
		margin:0;
	}
	
	.text{
		margin:0;
		border:0;
	}
	
	.currentWeather{
		color: white;
		opacity: 0.85;
  		filter: alpha(opacity=85);
		
		height: 150px;
		margin:15px;
		margin-left: 30%;

		display:inline-block;
		
	}
	#forecasting{
		margin-left:4%;
		margin-top: 30xp;
	}
	.content{
		display:inline-block;
		padding:5px;
		margin:1px;
	}
	#fpanel{
		width:18%;
		height:300px;
		margin-top:0px;
		border-radius: 20px;
		
		background-color: white;
		color:black;
		opacity: 0.60;
  		filter: alpha(opacity=60);
	}
	#icon1,#icon2,#icon3,#icon4,#icon5{
		font-size:700%;
		display: block;
		margin-left:auto;
		margin-right:auto;
		margin-top:10px;
	} 
	
	#prediction{
		margin-top: 15px;
		font-family: times;
		
	}
	#leftArea{
		float:left;
		margin-left:5px;
		display:inline-block;
	}
	#rightArea{
		margin-right:5px;
		font-size:150%;
		display:inline-block;
	}
	#currentIcon{
		display:inline-block;
		left-margin:auto;
		right-margin:auto;
		font-size:800%;
	}
}
